
#site-title {
    width: 75%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hero {
    background-image: url("../images/MF-portfolio-hero-chihuly1.jpg");
    justify-content: center;
    font-weight: 400;
    display: flex;
    flex-direction: row;
}
#hero-title {
    color: #fff;
    font-family: var(--serif), serif;
    font-weight: 500;
    font-size: 4.2rem;
    display: block;
}
#hero-subtitle {
    font-family: var(--sans-serif), sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    opacity: 0.8;
    margin-top:10px
}
#hero-text {
    width: 25%;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#hero-text-content {
    padding: 0 60px;
    font-weight: 100;
    max-width: 420px;
}
#hero-text-content h3 {
    text-transform: uppercase;
    margin: 40px 0 20px 0;
    font-size: 1em;
    font-weight: 300;
}
.tech-list {
    display: flex;
    flex-direction: column;
}
.tech-list div {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}
/* #hero-text-content ul {
    list-style: none;
    font-size:1.2em;
    font-weight: 100;
}
#hero-text-content ul li {
    margin: 20px 0;
}
*/
.icon-image {
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 20px;
} 
.certifications {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.certifications img {
    margin-right: 20px;
}
.cert-details {
    float: left;
    font-size: 1.2em;
    font-weight: 300;
}
.cert-details span {
    display: block;
    font-size: .8em;
    margin-top: 10px
}
#social-links img {
    margin:10px;
    transition: transform 0.3s, opacity 0.3s ;
    opacity: 0.8;
}
#social-links img:hover {
    transform-origin: top;
    transform: scale(1.2);
    opacity: 1;
}
.line {
    margin-left: 3px;;
    min-height: 10px;
    height: 90%;
    width: 2px;
    min-width:1px;
    background: rgb(255,255,255);
    background: var(--trans-gradient);
 }

@media (max-width: 1366px) {
    #hero-text-content p {
        font-size: .95em;
    }
    #hero-text-content h3 {
        margin:30px 0 10px 0;
    }
    #hero-text-content ul li {
        margin: 14px 0;
    }
    #hero-text-content ul {
        font-size: 1em;
    }
    ul .icon-image {
        width: 24px;
    }
    .cert-details {
        font-size: 1em;
    }
    ul .icon-image img {
        width: inherit;
    }
}

@media (max-width: 1200px) {
    #site-title {
        width: 66%;
    }
    #hero-text {
        width:34%;
    }
}

@media (max-width: 414px) {
    .full-width-mod {
        height: auto;
        max-height: none;
        width: 100vw;
    }
    #hero {
        flex-direction: column;
    }
    #site-title {
        width: 100%;
        padding: 10% 10% 6% 10%;
        height: auto;
    }
    #hero-text {
        flex-direction: column;
        width: 100%;
        padding: 0 10% 10% 10%;
        height: auto;
    }
    #hero-title {
        font-size: 3.5em;
        text-align: center;
    }
    #hero-subtitle {
        font-size: 1.3em;
        text-align: center;
    }
    .line {
        visibility: hidden;
        width: 90vw;
        height: 1px;
    }
    #hero-text-content {
        padding: 0;
    }
    #hero-text-content p {
        font-size: 1.1em;
    }
    #hero-text-content h3 {
        font-size: 1em;
    }
    .tech-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tech-item {
        width: 49%;
    }

    .icon-image img {
        display:none;
        width:0;
    }
    .tech-list div {
        font-size: 1.2em;
        display: block;
        margin-bottom:6px;
    }
    .certifications img {
        width: 160px;
    }
    .cert-details {
        font-size: 1.3em;
    }
}